## Preprocessing Examples

In [3]:


from importlib.util import find_spec
if find_spec("preprocessing") is None:
    import sys
    sys.path.append('..')


from src.preprocessing.transform import transform_data
from src.preprocessing.load import load_data
from src.preprocessing.clean import preprocess_dataset

data_path = "/Users/servandodavidtorresgarcia/Servando/projects/cluster-toolkit/data/Mall_Customers.csv"

ImportError: cannot import name 'categorical_encoders' from 'feature_engine' (/Users/servandodavidtorresgarcia/miniconda3/envs/cluster-t/lib/python3.9/site-packages/feature_engine/__init__.py)

In [24]:
raw = load_data(data_path)

In [27]:
df = transform_data(raw)

In [28]:
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40